#pages { margin:20px; border:solid 2px #0066ff; padding: 20px; }

.page { margin: 20px; border: dashed 1px #0066ff; padding: 10px; }
.page .url { font-weight: bold; color: #FF0000; }

.client { display: table; }
.ip { display: table-cell; width: 200px; color:#000000; }
.time { display: table-cell, width: 100px; color: #666666; }